<mat-sidenav-container fullscreen hasBackdrop="false">

    <mat-sidenav #sidenav mode="side">

        <mat-toolbar color="primary">
            <span>Prueba Focus</span>
            <span class="spacer"></span>

        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="" mat-list-item>
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Home</span>
            </a>



        </mat-nav-list>
        <mat-divider></mat-divider>


        <mat-divider></mat-divider>
        <mat-nav-list>
            <a routerLink="./books/list" mat-list-item>
                <mat-icon mat-list-icon>book</mat-icon>
                <span>Books</span>
            </a>



        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list *ngIf="this.authService.isLibrarian.value">
            <a routerLink="./reservations" mat-list-item>
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <span>Reservations</span>
            </a>



        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list *ngIf="!this.authService.isLibrarian.value">
            <a routerLink="./my_reservations" mat-list-item>
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <span>My Reservations</span>
            </a>



        </mat-nav-list>
        <mat-divider></mat-divider>


    </mat-sidenav>

    <mat-toolbar>
        <button *ngIf="this.authService.isLogin.value" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <button *ngIf="this.authService.isLogin.value" (click)="logout()" mat-button>
            Logout
        </button>
    </mat-toolbar>


    <div class="container">

        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>